.git
.git/**
.gitignore
.next/**
node_modules/**
public/**
scripts/**
tests/**
cypress/**
coverage/**
tmp/**
.github/**
.vscode/**
docs/**
**/*.test.*
**/*.spec.*
*.log
.DS_Store
README.md
.env*
jest.config.* 